* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  color: #5d5d5d;
  text-decoration: none; 
}

a:hover {
  color: #467fa1;
}

button:hover {
  background-color: #ba93ff;
}

@media (max-width: 790px) {
  .App {
    justify-content: center;
    align-items: center;
  }
  
  .app-subscribe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
