.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.subscribe-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subscribe-inputs {
    display: flex;
    gap: 0.2em;
}

.subscribe-name-input {
    background-color: black;
    width: 10em;
    height: 1.5em;
    color: #9f9f9f;
    border-color: #202020;
}

.subscribe-email-input {
    background-color: black;
    width: 10em;
    height: 1.5em;
    color: #9f9f9f;
    border-color: #202020;
}

.subscribe-button {
    align-self: flex-start;
    background-color: #54295c;
    color: white;
    margin-top: 1.2em;
    border-style: none;
    width: 8em;
    height: 2.2em;
    border-radius: 1.5em;
}

.subscribe-button:hover {
    background-color: #ba93ff;
}

/* Everything else */
@media (min-width: 769px) {

}

/* Most other handhelds */
@media (max-width: 768px) {
    .subscribe {
        order: 2;
        flex-direction: column;
    }

    .subscribe-logo {
        order: 0;
        width: 100%;
    }

    .subscribe-button {
        align-self: center;
    }
}

/* Most smartphones */
@media (max-width: 480px) {

}
  