.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1em;
    flex-wrap: wrap;
}

.header-logo-main {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.header-logo-image {
    height: 30px;
}

.nav {
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.nav-button {
    background-color: #467fa1;
    height: 2.2em;
    width: 7.2em;
    color: white;
    border-radius: 1.5em;
    border-style: none;
}

/* Everything else */
@media (min-width: 769px) {

}

/* Most other handhelds */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Most smartphones */
@media (max-width: 480px) {

}

@media (max-width: 350px) {
    .nav {
        margin-top: 0.5em;
    }
    .nav-button {
        margin-top: -1.5em;
    }
}