/* Global settings */
.footer {
    margin: 1em 5em 0.5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.twitter-icon, .youtube-icon {
    max-height: 1em;
}

.footer-social {
    display: flex;
    gap: 1em;
}

.footer-quote {
    text-align: center;
}

.footer-quote-main {
    color: #595959;
}

.footer-quote-text {
    font-size: 0.75em;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-left: -2em;
}

.footer-about {
    display: flex;
    flex-direction: column;
    color: #dddddd;
}

.footer-about-main {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    font-size: 0.8em;
    color: #ffffffb7;
    padding-left: 10px;
}

.footer-copyright {
    padding-top: 5px;
    text-align: center;
    font-size: 0.6em;
}

/* Everything else */
@media (min-width: 769px) {

}

/* Most other handhelds */
@media (max-width: 768px) {

}

/* Most smartphones */
@media (max-width: 480px) {
    .footer {
        gap: 0.5em;
        margin: 1em 0 -8em;
        padding: 0;
    }

    .footer-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0;
    }

    .footer-about {
        text-align: center;
    }
}