/* Global */
* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  color: #5d5d5d;
  text-decoration: none; 
}

a:hover {
  color: #467fa1;
}

button:hover {
  background-color: #ba93ff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.app-header {
  margin: 2em 4em;
}

.app-content {
  display: flex;
  margin: 5em 4em;
}

.app-content-logo {
  max-width: 20em;
  margin-left: 5em;
  flex: 1;
}

/* Everything else */
@media (min-width: 769px) {

}

/* Most large phones and tablets */
@media (max-width: 768px) {
  .app-content-logo {
    max-width: 10em;
  }
}

@media (max-width: 600px) {
  .App {
    justify-content: flex-start;
  }
  .app-header {
    margin: 2em 4em;
  }
  
  .app-content {
    display: flex;
    flex-direction: column;
    margin: 0 4em 5em 4em;
    align-self: start;
    align-items: center;
  }
  
  .app-content-logo {
    max-width: 10em;
    margin-left: 0;
  }
}

/* Most smart phones in portrait mode */
@media (max-width: 480px) {

}

@media (max-width: 350px) {
  .app-content {
    margin: -1.5em 0 1em 0;
  }
}